@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    overflow-x: hidden;
    background:linear-gradient(to right , #EE7779,#EB5D5D) 
}

body {
    font-family: 'Inter', sans-serif;
}